[submodule "ros_pwm_pca9685"]
	path = ros_pwm_pca9685
	url = https://github.com/moritzboeker/ros-pwm-pca9685.git
[submodule "ros2_sparkfun_otos_driver"]
	path = ros2_sparkfun_otos_driver
	url = https://github.com/moritzboeker/ros2_sparkfun_otos_driver.git
[submodule "ros2_vanjee_lidar_driver"]
	path = ros2_vanjee_lidar_driver
	url = https://github.com/moritzboeker/ros2_vanjee_lidar_driver.git
	branch = ros2
